<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
    <div class="div-profile">
        <h5 style="color: black; display: inline;">User name: </h5><%=name%> 
    </div>
</body>
</html>